.list-wrapper {
  background-color: #343a40;
  overflow-y: auto;
  max-height: 30rem;
  max-width: 25rem;

  .btn-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 3.5rem;
  }
}
