* {
  box-sizing: border-box;
}

body {
  height: 100%;
}

.App {
  text-align: center;
  padding: 0.5rem 5rem;
  height: 100%;
  width: 100%;
  font-size: 62.5%;
  background: rgb(47, 54, 56);
  background: linear-gradient(
    180deg,
    rgba(47, 54, 56, 1) 0%,
    rgba(196, 196, 196, 1) 100%
  );
}
